<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  {% stylesheets
  'css/bootstrap.min.css'
  'css/main.css'
  filter='cssrewrite' output='css/compiled/app.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  {% endstylesheets %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<header>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SF2</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('student_list') }}">List</a></li>
              <li><a href="{{ path('student_add') }}">Add</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exam <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('exam_list') }}">List</a></li>
              <li><a href="{{ path('exam_add') }}">Add</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Grade <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('grade_list') }}">List</a></li>
              <li><a href="{{ path('grade_add') }}">Add</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('admin_list') }}">List</a></li>
              <li><a href="{{ path('admin_add') }}">Add</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/easy_admin">ADMIN</a></li>
          <li><a href="/admin/logout">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>





<body>
<div class="container">
  {% block body %}{% endblock %}

</div>
  {% block javascripts %}
  {% endblock %}
  {% javascripts
  'js/jquery.min.js'
  'js/bootstrap.min.js'
  'js/main.js'
  output='js/compiled/app.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
</body>
</html>
