{% extends '::base.html.twig' %}

{% block title %}Add a grade{% endblock %}

{% block body %}

  <h1 class="text-center ">Add a grade</h1>
  {{ form_start(form) }}

    {{ form_widget(form.student, { 'attr' : { 'class' : 'form-control' } }) }}
    {{ form_widget(form.exam, { 'attr' : { 'class' : 'form-control margin-top-5' } }) }}
    {{ form_rest(form) }}
    <input type="submit" class="btn btn-primary btn-block margin-top-5" value="Save"/>

  {{ form_end(form) }}


</div>
{% endblock %}
